@import 'libs/bootstrap-reboot.min';


@font-face {
    font-family: 'Oswald';
    src: url("../fonts/Oswald-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Oswald';
    src: url("../fonts/Oswald-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Oswald';
    src: url("../fonts/Oswald-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Roboto:wght@100;300;400;500;700&display=swap');

// font-family: 'Oswald', sans-serif;
// font-family: 'Roboto', sans-serif;
* {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    // width: 100vw;
    // height: 100vh;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0,0,0,.5);
}
.cases__slider .swiper-slide-active {
    transition: .6s all;
    scale: 1.15;
    margin: 20px;
}

@import "base/variables";
@import "base/mixins";
@import "base/animations";

@import "blocks/header";
@import "blocks/promo";
@import "blocks/services";
@import "blocks/stages";
@import "blocks/cases";
@import "blocks/diploms";
@import "blocks/contacts";
@import "blocks/modals";


@import "blocks/media";