.services {
    border-top: 1px solid $line_color;
    background: url("../img/background4.webp") no-repeat 100%/cover;
    h2 {
        font-size: 28px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;

    }

    &__wrapper {
        border-top: 1px solid $line_color;
        border-bottom: 1px solid $line_color;
        min-height: 400px;

        &__items {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 20px;
            padding-bottom: 40px;

        }

        &__item {
            margin-top: 10px;
            border-bottom: 1px solid $line_color;
            // border-radius: 15px;
            // background-color: rgba(204, 201, 195, 0.822);
            min-height: 50px;
            width: 657px;
            transition: .3s all;

            &-header {

                cursor: pointer;

                h3 {
                    position: relative;
                    color: rgb(32, 31, 30);
                    font-size: 22px;
                    margin-left: 10px;
                    line-height: 43px;
                    margin-bottom: 0px;

                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 15px;
                        height: 15px;
                        border-top: 2px solid rgba(32, 31, 30, 0.8);
                        border-right: 2px solid rgba(32, 31, 30, 0.8);
                        transform: rotate(135deg);
                        top: 12px;
                        right: 15px;
                        transition: all .3s ease-out;
                    }
                }

                &-active {

                    // border-radius: 15px;
                    min-height: 50px;
                    // background-color: rgba(226, 209, 192, 0.3);
                    background-color: rgba(203, 199, 193, .4);
                    transition: .3s all;
                    cursor: pointer;

                    h3 {
                        position: relative;
                        color: $line_color;
                        font-size: 22px;
                        margin-left: 10px;
                        line-height: 43px;
                        margin-bottom: 0px;

                        &::after {
                            content: "";
                            position: absolute;
                            display: block;
                            width: 15px;
                            height: 15px;
                            border-top: 2px solid $line_color;
                            border-right: 2px solid $line_color;
                            transform: rotate(315deg);
                            top: 20px;
                            right: 15px;
                            transition: all .2s ease-out;
                        }
                    }

                }
            }






            &-accordion {
                max-height: 0;
                overflow: hidden;
                visibility: hidden;
                opacity: 0;
                transition: .4s all;

                &-active {
                    overflow: visible;
                    visibility: visible;
                    opacity: 1;
                    max-height: 600px;
                    transition: .3s all;
                    // background-color: rgba(226, 209, 192, 0.3);
                    background-color: rgba(203, 199, 193, .4);
                }
            }

            &-data {
                min-height: 24px;
                position: relative;
                margin-left: 30px;
                font-size: 18px;
                line-height: 18px;
                list-style-type: none;
                transition: .5s all;

                &:not(:first-child) {
                    margin-top: 5px;
                }



                &::before {
                    content: "";
                    background-image: url('../../icons/services/diamond.svg');
                    background-size: 18px 18px;
                    height: 18px;
                    width: 18px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -20px;

                }
            }

            &-cost {
                border-top: 1px solid $line_color;
                padding: 0px 10px 10px 10px;
            }

            &-days {
                font-size: 20px;
            }

            &-price {
                display: flex;
                align-items: center;
                margin-top: 5px;

                &-value {
                    width: 20%;
                    padding-left: 5px;
                    padding-right: 5px;
                    font-size: 18px;
                    line-height: 36px;
                    font-weight: 400;
                    text-shadow: 1px 1px 2px rgba(226, 209, 192, .9), 0 0 1em rgba(226, 209, 192, .9), 0 0 0.2em rgba(226, 209, 192, .9);
                    // background-color: rgba(255, 255, 255, 0.3)
                }

                &-descr {
                    margin-left: 10px;
                    font-size: 12px;
                }
            }


        }

        &__information {
            padding-top: 10px;

            &-header {
                font-size: 24px;
                text-align: center;
            }

            &-descr {
                font-size: 20px;
                text-align: center;
                padding-bottom: 10px;
                a {
                    font-weight: 400;
                    color: $line_color ;
                    text-decoration: none;
                }
            }

            &-payment {
                position: relative;
                font-size: 20px;
                text-align: center;
                padding-bottom: 10px;
            }
        }

    }



    &__wrapper .container {
        border-left: 1px solid $line_color;
        border-right: 1px solid $line_color;
        height: 100%;
    }



}